{% extends 'base.html' %}

{% block title %}
    <title>API</title>
{% endblock %}

{% block content %}
<h1>Методы</h1>
    <ul>
    <li>api/get_athletes
    <p>Возвращает список всех спорсменов в формате JSON</p>
    <p>Необязательный параметр id - возращает один конкретный экзмепляр</p>
    </li>

    <li>api/get_categories
        <p>Возвращает список категорий</p>
    </li>

    <li>api/get_participants?race_id[athlete_id]
        <p>Возвращает список участников или гонок в зависимости от параметра</p>
    </li>

    <li>api/set_point?race_id&num&dtime=Y-%m-%d %H:%M:%S
        <p>Записывает в таблицу отсечек новую отсечку в конкретной гонке для спортмена с номером num</p>
    </li>

    <li>api/start_race?race_id&dtime=%Y-%m-%d %H:%M:%S
        <p>Для всех участников конкретной гонки создает новую отсечку</p>
    </li>

    <li>api/test?race_id
        <p>Возвращает результаты гонки</p>
    </li>
    </ul>
{% endblock %}