<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% block title %}
    <title>Title</title>
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Vahat</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/athletes">Спортсмены</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/competitions">Соревнования</a>
      </li>
        <li class="nav-item ">
        <a class="nav-link" href="/api">API</a>
      </li>
    </ul>

   {#  <ul class="navbar-nav mr-left">#}
        {%  if username %}
      {#   <li class="nav-item">#}
       {#  <a class="nav-link" href="/auth/logout">Logout ({{ username }})</a>#}
       {#   {% else %}#}
     {#   <li class="nav-item">#}
       {#  <a class="nav-link" href="/auth/login">Login</a>#}
      {# </li>#}
      {# <li class="nav-item">#}
       {#  <a class="nav-link" href="#">SignUp</a>#}
     {#  </li>#}
        {% endif %}
    </ul>


  </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>