{% extends 'base.html' %}

{% block title %}
<title>Спортсмен</title>
{% endblock %}

{% block content %}
<h1>{{ athlete.first_name }}</h1>
    <h2>{{ athlete.last_name }}</h2>
    <h3>Участие в соревнованиях:</h3>
{% for p in part %}
    <ul>
        <a href="/competitions/{{ p.race_id }}" <li>{{ p.race__name }}</li></a>
    </ul>
{% endfor %}
{% endblock %}