{% extends 'base.html' %}

{% block title %}
    <title > Спортсмены </title>
{% endblock %}

{% block content %}
<div class="col-md-12">
<div class="col-md-1">
    <div class="row  py-3">
    <a href="new/" class="btn btn-primary active" role="button">Добавить спортсмена</a>
    </div>
    </div>
</div>

    <div class="py-2">
        <div class="col-md-12">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Пол</th>
      <th>День рождения</th>
      <th>Команда</th>
      <th>Разряд</th>
    </tr>
  </thead>
  <tbody>
  {% for foo in Athlete %}
  <a href="Athlete.html"><tr>
      <td><a href="{{ foo.id }}">{{ foo.last_name }}</a></td></a>
      <td>{{ foo.first_name }}</td>
      <td>{{ foo.sex }}</td>
      <td>{{ foo.birthday}}</td>
      <td>{{ foo.team }}</td>
      <td>{{ foo.degree }}</td>
    </tr></a>
  {% endfor %}

  </tbody>
</table>
        </div>
    </div>

{% endblock %}