{% extends 'base.html' %}

{% block title %}
<title>{{ comp.name }}</title>
{% endblock %}

{% block content %}
    <div class="col-md-12">
    <div class="col-md-1">
    <div class="row  py-3">
    <a href="new_part/" class="btn btn-primary active" role="button" >Добавить участника</a>
    </div>
    </div>
</div>
    PlaceHolder
    <div class="py-2">
        <div class="col-md-12">
            <h1>{{ comp.name }}</h1>
{% if res %}
                {% for key, item in res.items %}
                    <h5>{{ key }}</h5>
            <table  class="table table-hover" >
                <thead>
                    <tr>
                        <th>Место</th>
                        <th>Спортсмен</th>
                        <th>Количество кругов</th>
                        <th>Результат</th>
                        <th>Отставание</th>
                    </tr>
                </thead>
                <tbody>
                    {% for athlete in item %}
                        <tr>
                            <td>{{ athlete.place }}</td>
                            <td><a href="/athletes/{{ athlete.athlete_id }}">{{ athlete.athlete }}</a></td>
                            <td>{{ athlete.nlaps }}</td>
                            <td>{{ athlete.result }}</td>
                            <td>+{{ athlete.gap }}</td>
                            {% for lap in athlete.laps %}
                                <td>{{ lap }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        {% else %}
    {% for key, item in part.items %}
                    <h5>{{ key }}</h5>
            <table  class="table table-hover" >
                <thead>
                    <tr>
                        <th>Спортсмен</th>
                        <th>Номер</th>
                    </tr>
                </thead>
                <tbody>
                    {% for athlete in item %}
                        <tr>
                            <td><a href="/athletes/{{ athlete.athlete_id }}">{{ athlete.athlete }}</a></td>
                            <td>{{ athlete.number }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}

