{% extends 'base.html' %}

{% block title %}
<title>Добавление новой категории участников</title>
{% endblock %}

{% block content %}
<div class="container">
        <div class="col-md-12">
                <div class="col-md-12">

                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Новый участник</h3>
                        </div>
                        <div class="card-body">
                        {%  if error %}
                        <div class="allert">{{ error }}</div>
                        {%  endif %}
                          {% for e in form.non_field_errors %}
                          <div class="allert">{{ e }}</div>
                          {% endfor %}
                            <form  method="post" action="{{ act }}">
                                {% csrf_token %}
                                <fieldset>
                                    {% for field in form %}
                                        <div class="control-group">
                                             {% if field.errors %}<label>has-error</label>
                                             {% endif %}
                                        </div>
                                        <label class="control-label">{{ field.label }}</label>
                                        <div class="controls">{{ field }}</div>

                                    {% endfor %}
                                </fieldset>
                                <div class="form-action py-2">
                                    <button type="submit" class = "btn-success btn-lg">Добавить</button>
                                </div>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->

<!--/container-->
{{ act }}
{% endblock %}