{% extends 'base.html' %}

{% block title %}
    <title > Соревнования </title>
{% endblock %}

{% block content %}
    <div class="py-2">
        <div class="col-md-12">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th>Дата</th>
      <th>Место</th>
      <th>Тип</th>
    </tr>
  </thead>
  <tbody>
  {% for foo in comp %}
  <tr>
      <td><a href="{{ foo.id }}">{{ foo.name }}</a></td>
      <td>{{ foo.date }}</td>
      <td>{{ foo.place }}</td>
      <td>{{ foo.type}}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
        </div>
    </div>

{% endblock %}